.wrapper {
    width: 100%; /* Задаю ширину страницы */
    background-color: #FAF0E6; /* Задаю основной цвет страницы */
}

.header { /* Задаю flex метод для того, чтобы в шапке сайта разместить logo и menu*/
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.header__logo { /* Задаю отступ для лого сайта */
    padding: 1%; 
}

.fixed__link { /* Задаю фиксированное позиционирование, отступ от вверха, делаю его блоком.  */
    position: fixed; 
    display: block;
    top: 70%;
}

.menu { /* Задаю позиционирование для моего меню. */
    position: relative;
    display: inline-block;
}

.menu__main { /* Задаю нужное расположение моего меню, округление углов, задний фон и цвет букв. */
    padding: 25px; 
    margin-top: 75px;
    margin-right: 220px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    background-color: #00aeef;
    color: aliceblue;
}

.menu-child { /* Скрываю раздвижное меню - none, но с помощью hover при наведении оно снова появляется. Задал задний фон, округление краев. */
    display: none;
    border-radius: 25px;
    background-color: #00aeef;
}

.menu-child a { /* Стилизировал раздвижное меню, теперь ссылки ведут себя как блоки с помощью display:block для того, чтобы получить раздвижное меню. */
    display: block;
    font-size: 1.2rem;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.menu:hover .menu-child { /* При наведении курсора на "Меню" выскакивает раздвижное меню с помощью hover. */
    display: block;
    position: absolute;
}

.main { /* С помощью flex блоки внутри main получили нужное мне расположение, задал ширину для main, задал нужный цвет текста. */
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #35411d;
}

.article { /* Для блока задал нужную мне ширину и отступ. */
    width: 40%;
    padding: 5%;
}

.article__title { /* Выравнивание текста, увеличил размер и толщину. */
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}

.article__main,
.article__picture { /* Картинки и текст получили отступ, увеличил шрифт. */
    padding: 2%;
    font-size: 1.2rem;
}

.article__text { /* Для статьи задал необходимый отступ, увеличил размер шрифта. */
    padding: 8%;
    font-size: 1.4rem;
}

.form { /* Стилизировал блок с формами, задал необходимые отступы, рамку и её цвет. */
    margin: 2%;
    padding: 5%;
    border: 2px solid #66CDAA;
    border-radius: 25px;
}

.form__item { /* С помощью flex формы стали по центру, задал необходимый отступ между ними. */
    display: flex;
    justify-content: center;
    padding: 2%;
}

.section { /* Задал отступ для блока. */
    padding: 4%;
}

.button { /* Стилизировал кнопку, задал необходимый отступ, для кнопки "отправить" добавил pointer. */
    padding: 2%;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #66CDAA;
}

.button:hover { /* При наведении курсора мыши меняется плавно цвет моей кнопки. */
    background-color: #66CDAA;
    color: aliceblue;
    transition: 0.5s;
}

.picture__main { /* Задал нужный размер картинке, необходимые отступы, бордеру округлил углы и добавил им подходящий цвет. */
    width: 55%;
    margin: 20% 30%;
    padding: 2%;
    border-radius: 25px;
    border: 2px solid #66CDAA;
}

.footer { /* Выравнивание текста с помощью flex, задал нужный отступ, чтобы нижний блок сделать выше, задал цвет фону и тексту. */
    display: flex;
    justify-content: center;
    padding: 1.5%;
    background-color: #00aeef;
    color: azure;
}