.wrapper {
    background-color: #FAF0E6;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__logo {
    padding: 1%;
}

.fixed__link {
    position: fixed;
    display: block;
    top: 70%;
}

.menu__main {
    padding:25px;
    margin-top: 75px;
    margin-right: 220px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    background-color: #00aeef;
    color: aliceblue;
}
.menu {
    position: relative;
    display: inline-block;
}
.menu-child {
    display: none;
    min-width: 200px;
    border-radius: 25px;
    background-color: #00aeef;
}
.menu-child a {
    display: block;
    font-size: 1.2rem;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.menu:hover .menu-child {
    display: block;
    position: absolute;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #35411d;
}

.article {
    width: 40%;
    padding: 5%;
}

.article__title {
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}

.article__main {
    padding: 2%;
    font-size: 1.2rem;
}

.article__text {
    padding: 10%;
    font-size: 1.4rem;
}

.article__picture {
    padding: 2%;
}

.form {
    margin: 2%;
    padding: 5%;
    border: 2px solid #66CDAA;
    border-radius: 25px;
}

.form__item {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.form__submit {
    padding: 2%;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #66CDAA;
}

.form__submit:hover {
    background-color: #66CDAA;
    color: aliceblue;
    transition: 0.5s;
}

.section {
    padding: 4%;
}

.section__button {
    padding: 2%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #66CDAA;
}

.section__button:hover {
    background-color: #66CDAA;
    color: aliceblue;
    transition: 0.5s;
}

.picture__main {
    margin: 20% 30%;
    width: 55%;
    padding: 2%;
    border-radius: 25px;
    border: 2px solid #66CDAA;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1.5%;
    background-color: #00aeef;
    color: azure;
}