/* RESET CSS Сброс стилей для моей страницы */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* BODY */

/* Задаю основной цвет для моей страницы */
.wrapper {
    background-color: #e1e3e2;
}

/* Слова начинаются с большой буквы */
.menu__link,
.menu__item,
.logo__link,
.footer__item {
    text-transform: capitalize;
}

/* Задал нужный цвет для блоков */
.header,
.footer {
    background-color: #b3b3b3;
}

/* С помощью "Flex" задал нужное расположение блокам, некоторые элементы теперь расположены по центру */
.header,
.logo,
.logo__link,
.logo__picture-wrap,
.section__tittle,
.article__tittle,
.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

/* Задал размер блока logo относительно header */
.logo {
    width: 40%;
}

/* Задал размер блока относительно logo */
.logo__picture-wrap {
    width: 100%;
}

/* Задал размер блока относительно logo__picture-wrap, добавил внутренние отступы */
.logo__picture {
    width: 50%;
    padding: 2%;
}

/* Задал размер лого(картинки) и для ссылки(шрифт) размер и цвет */
.logo__link {
    width: 50%;
    font-size: 3rem;
}

/* Задал размер блока menu-wrap относительно header */
.menu-wrap {
    width: 60%;
}

/* Задал необходимые отступы и размер для моего меню, закруглил углы блока, задал основной фон для меню, с помощью font-size убрал небольшие пробелы между списками меню */
.menu {
    width: 60%;
    margin: 0.5%;
    padding: 1% 0 1% 5.5%;
    border-radius: 8px;
    font-size: 0;
    background-color: #fcf3c8;
}

/* Задал отступы со списками в меню, с помощью inline-block задал нужное расположение, сделал позиционирование relative, теперь "position: absolute" работают относительно "relative" */
.menu__item {
    display: inline-block;
    position: relative;
    margin: 1%;
}

.menu__link,
.submenu__link,
.subsubmenu__link {
    display: inline-block; /* Блочные элементы(списки меню и пункты) распологаются одним за другим вертикально */
    padding: 20px; /* Задал необходимый размер список меню и пунктов */
    white-space: nowrap; /* Отменил перенос текста на другую строку */
    z-index: 10; /* Задал приоритетность, чтобы списки были поверх другого контента или блока */
    font-size: 1.5rem; /* Задал нужный размер шрифта */
    border: 1px solid black; /* Добавил границы для меню и списков */
    background-color: #9fcdda; /* Задал цвет фона для список меню и пунктов */
    color: black; /* Задал цвет шрифту */
    border-radius: 5px; /* Закруглил углы границам */
    transition: 0.4s all; /* Задаю плавный переход цвета при наведении курсором на списки меню и пункты */
}

/* Пункты в меню становятся невидимыми, с помощью "position" задаю нужное мне расположения для моих пунктов(относительно "position:relative" */
.submenu,
.subsubmenu__item {
    display: none;
    position: absolute;
}

/* При наведении на меню выскакивают списки с пунктами */
.menu__item:hover .submenu {
    display: block;
}

/* С помощью hover теперь при наведении курсором на меню/пункты меняется цвет, плавный переход цвета */
.menu__link:hover,
.submenu__link:hover,
.subsubmenu__link:hover {
    background-color: #fbdde5;
    transition: 0.4s all;
}

/* Для второго выпадающего списка задал правильное расположение, чтобы при наведении курсором на "Пункт 2 +" выпадало меню в правильном направлении, вместо ссылок теперь это блоки */
.submenu__item:hover .subsubmenu__item {
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
}

/* Задал необходимый внешний отступ с помощью margin и размер шрифта с помощью font-size */
.section {
    margin: 2%;
    font-size: 1.5rem;
}

/* Задал отступ для блока с помощью padding и размер шрифта с помощью font-size */
.footer__item {
    padding: 1%;
    font-size: 1.4rem;
}


